body{
    background: #352f5b;
    line-height: 1;
}
.container{
    max-width: 1350px;
}
input[type=text],
input[type=text].focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    background: #423a6f;
}
.delete{
    cursor: pointer;
}
/*
.div-btn-unchecked{
    background-color: #ea9999;
}
.div-btn-checked{
    background-color: #b6d7a8;
}
*/
.li-unchecked div{
    background-color: #ea9999;
}
.li-checked div{
    background-color: #b6d7a8;
}

@media (min-width:356px) {
      .card-columns {
        column-count: 1;
      }
  }

  @media (min-width:576px) {
      .card-columns {
        column-count: 1;
      }
  }
    @media (min-width:768px) {
      .card-columns {
        column-count: 2;
      }
  }
  @media (min-width:992px) {
      .card-columns {
        column-count: 2;
      }
  }
  @media (min-width:1200px) {
      .card-columns {
        column-count: 3;
      }
  }


.icon-center {
    margin: 2px;
}

.facebook {
 background: #dd4b39;
}